<a href="https://colab.research.google.com/github/denotevn/Artificial-intelligence-and-applications/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_lab04_NPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Read data
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data_baitapanhthanh/lab4_dataAnalysis/dataset.csv")
data.head()

       genre  ...                                SongInfo
0  Christian  ...        CASTING CROWNS - WHO AM I LYRICS
1  Christian  ...   GLORY REVEALED - BY HIS WOUNDS LYRICS
2  Christian  ...  CAEDMON'S CALL - GOD OF WONDERS LYRICS
3  Christian  ...     MERCYME - I CAN ONLY IMAGINE LYRICS
4  Christian  ...   AARON SHUST - MY SAVIOR MY GOD LYRICS

[5 rows x 3 columns]

In [ ]:
#SHow info data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genre     558 non-null    object
 1   lyrics    558 non-null    object
 2   SongInfo  558 non-null    object
dtypes: object(3)
memory usage: 13.2+ KB

In [ ]:
#Some interesting information
data.describe()

       genre  ...                                           SongInfo
count    558  ...                                                558
unique     6  ...                                                548
top      Pop  ...  SMOKEY ROBINSON & THE MIRACLES - THE TRACKS OF...
freq     100  ...                                                  2

[4 rows x 3 columns]

In [ ]:
#Create a new data from 2 columns genre and lyrics
columns = data[['genre', 'lyrics']]
columns

         genre                                             lyrics
0    Christian   Who am I, that the Lord of all the earth Woul...
1    Christian   Glory Revealed  By His Wounds He was pierced ...
2    Christian   Lord of heaven and earth Lord of all creation...
3    Christian   I can only imagine what it will be like When ...
4    Christian   I am not skilled to understand What God has w...
..         ...                                                ...
553        R&B   Ha I dont care ha, about your past I just wan...
554        R&B   Hoverin by my suitcase  Tryin to find a warm ...
555        R&B   I dont know why I love you like I do  After a...
556        R&B   C. C. Rider Elvis Presley  Well now see., C. ...
557        R&B   Cynthia get up and dance to the music!  Get o...

[558 rows x 2 columns]

In [ ]:
#Types of music
columns['genre'].unique()

array(['Christian', 'Country', 'Hip-Hop', 'Pop', 'Rock', 'R&B'],
      dtype=object)

In [ ]:
#Total number of songs with each type of music
columns['genre'].value_counts()

Pop          100
Rock          95
Christian     94
R&B           91
Hip-Hop       91
Country       87
Name: genre, dtype: int64

In [ ]:
#choose 2 categories to build models
columns = columns[(columns.genre == 'Christian') | (columns.genre == 'Country')]

In [ ]:
#Приведение к нижнему регистру
lowered = columns['lyrics'].str.lower()
#Create a new column with the values of the lyrics column already lower
columns['lowered'] = lowered 
columns.head()

In [ ]:
#import nltk to work with human language data
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#Split each element of a sentence into an array
tokened = columns.apply(lambda row: nltk.word_tokenize(row['lowered']),axis = 1)

In [ ]:
columns['tokened'] = tokened #tao cot tokened chua gia tri cua lyrics sau khi da duoc word_tokenize
columns.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       genre  ...                                            tokened
0  Christian  ...  [who, am, i, ,, that, the, lord, of, all, the,...
1  Christian  ...  [glory, revealed, by, his, wounds, he, was, pi...
2  Christian  ...  [lord, of, heaven, and, earth, lord, of, all, ...
3  Christian  ...  [i, can, only, imagine, what, it, will, be, li...
4  Christian  ...  [i, am, not, skilled, to, understand, what, go...

[5 rows x 4 columns]

In [ ]:
# Removing stop words
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
#print(stopwords.words('english')) # Nhung stop word trong tieng anh
#Removing stop words
noise = stopwords.words('english')
withoutstop = columns['tokened'].apply(lambda x : [item for item in x if item not in noise])
without_stop = []
for a in withoutstop:
  without_stop.append(",".join(a))

In [ ]:
columns['without_stop'] = without_stop
columns.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       genre  ...                                       without_stop
0  Christian  ...  ,,lord,earth,would,care,know,name,would,care,f...
1  Christian  ...  glory,revealed,wounds,pierced,transgressions,c...
2  Christian  ...  lord,heaven,earth,lord,creation,lord,heaven,ea...
3  Christian  ...  imagine,like,walk,side,imagine,eyes,see,face,i...
4  Christian  ...  skilled,understand,god,willed,,,god,planned,kn...

[5 rows x 5 columns]

In [ ]:
#Lemmatization
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
lemmatized = columns['without_stop'].apply(lambda x: [lemmatizer.lemmatize(x)])

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
lemma = []
for a in lemmatized:
  lemma.append(", ".join(a))

In [ ]:
columns['lemmatized'] = lemma
columns.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       genre  ...                                         lemmatized
0  Christian  ...  ,,lord,earth,would,care,know,name,would,care,f...
1  Christian  ...  glory,revealed,wounds,pierced,transgressions,c...
2  Christian  ...  lord,heaven,earth,lord,creation,lord,heaven,ea...
3  Christian  ...  imagine,like,walk,side,imagine,eyes,see,face,i...
4  Christian  ...  skilled,understand,god,willed,,,god,planned,kn...

[5 rows x 6 columns]

In [ ]:
#Split arrays or matrices into random train and test subsets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(columns.lemmatized,columns.genre,train_size = 0.7)

In [ ]:
columns.genre.value_counts()

Christian    94
Country      87
Name: genre, dtype: int64

In [ ]:
#Convert a collection of text documents to a matrix of token counts.
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range = (1,3))
vectorized_x_train = vectorizer.fit_transform(X_train)

In [ ]:
#импортируем байесовский классификатор
from sklearn.naive_bayes import MultinomialNB

In [ ]:
#Build model
clf = MultinomialNB()
clf.fit(vectorized_x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
# тестовую выборку просто векторизировали
vectorized_x_test = vectorizer.transform(X_test)

In [ ]:
clf.predict(vectorized_x_test)

array(['Country', 'Christian', 'Country', 'Christian', 'Christian',
       'Christian', 'Country', 'Christian', 'Country', 'Country',
       'Christian', 'Country', 'Christian', 'Christian', 'Country',
       'Christian', 'Country', 'Christian', 'Christian', 'Country',
       'Christian', 'Christian', 'Christian', 'Christian', 'Christian',
       'Christian', 'Christian', 'Christian', 'Country', 'Country',
       'Country', 'Country', 'Christian', 'Country', 'Country',
       'Christian', 'Country', 'Country', 'Country', 'Country', 'Country',
       'Country', 'Christian', 'Country', 'Country', 'Country', 'Country',
       'Christian', 'Country', 'Christian', 'Country', 'Christian',
       'Country', 'Christian', 'Country'], dtype='<U9')

In [ ]:
from sklearn.metrics import *
pred = clf.predict(vectorized_x_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

   Christian       1.00      0.84      0.91        31
     Country       0.83      1.00      0.91        24

    accuracy                           0.91        55
   macro avg       0.91      0.92      0.91        55
weighted avg       0.92      0.91      0.91        55

In [ ]:
#Create 2 types of music with 2 songs
country_sentense ="""Jolene, Jolene, Jolene, Jolene
Oh, I'm begging of you please don't take my man
Jolene, Jolene, Jolene, Jolene
Please don't take him even though you can
Your beauty is beyond compare
With flaming locks of auburn hair
With ivory skin and eyes of emerald green
Your smile is like a breath of spring
Your skin is soft like summer rain
And I can not compete with you, Jolene
And I can easily understand
How you could easily take my man
But you don't know what he means to me, Jolene
He talks about you in his sleep
There's nothing I can do to keep
From crying when he calls your name, Jolene, Jolene
Jolene, Jolene, Jolene, Jolene
Please don't take him even though you can
Jolene, Jolene, Jolene, Jolene
Please don't take him even though you can
I had to have this talk with you
My happiness depends on you
And whatever you decide to do, Jolene
And you could have your choice of men
But I could never love again
Cause he's the only one for me, Jolene, Jolene
Jolene, Jolene, Jolene, Jolene
Oh, I'm begging of you please don't take my man
Jolene, Jolene, Jolene, Jolene
Please don't take him even though you can
Jolene, Jolene"""


Christian_lyrics ="""As I lay me down to sleep
I hear her speak to me
Hello 'Mari, how ya doin'?
I think the storm ran out of rain, the clouds are movin'
I know you're happy 'cause I can see it
So tell the voice inside ya head to believe it
I talked to God about you, he said he sent you an angel
And look at all that he gave you
You asked for one and you got two, mmhm
You know I never left you
'Cause every road that leads to heaven's right inside you
So I can say
Hello, my only one, just like the mornin' sun
You'll keep on risin' 'til the sky knows your name
Hello, my only one, remember who you are
No, you're not perfect but you're not your mistakes
Hey, hey, hey, hey
Oh, the good outweighs the bad even on your worst day
Remember how I'd say
Hey, hey, one day, you'll be the man you always knew you could be
And if you knew how proud I was
You'd never shed a tear, have a fear, no, you wouldn't do that
And though I didn't pick the day to turn the page
I know it's not the end every time I see her face, and I hear you say
Hello my only one, remember who you are
You got the world 'cause you got love in your hands
And you're still my chosen one
So can you understand? One day you'll understand
So hear me out, hear me out
I won't go, I won't go
No goodbyes, no goodbyes
Just hello, just hello
And when you cry, I will cry
And when you smile, I will smile
And next time when I look in your eyes
We'll have wings and we'll fly
Hello, my only one, just like the mornin' sun
You'll keep on risin' 'til the sky knows your name
And you're still my chosen one, remember who you are
No, you're not perfect but you're not your mistakes
Hey, hey, hey, hey
Tell Nori about me, tell Nori ab-
I just want you to do me a favor
Tell Nori about me, tell Nori about me
Tell Nori about me, tell Nori about me
Tell Nori about me, tell Nori about me
Tell Nori about me, tell Nori about me
Tell Nori about me, tell Nori about me"""

In [ ]:
#Build a function for this prediction task
def pipeline(vectorizer , clf, x):
  x = nltk.word_tokenize(x.lower())
  x = [item for item in x if item not in noise]
  x = ", ".join(x)
  # lemmatize
  x =  lemmatizer.lemmatize(x)
  vectorized_x = vectorizer.transform([x])
  pred = clf.predict(vectorized_x)
  print(pred)

pipeline(vectorizer, clf, country_sentense )
pipeline(vectorizer, clf, Christian_lyrics )

['Country']
['Country']

In [ ]:
#Use the referenced dataset to similarly teach the model to distinguish David Bowie lyrics from Paul McCartney lyrics
def classification_author():
    data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data_baitapanhthanh/lab4_dataAnalysis/dataset-lyrics-musics-mini.csv")
    data = data[(data['cantorNome']=='david-bowie') | (data['cantorNome']=='paul-mccartney')]
    columns = data[['cantorNome', 'letra']]
    lowered = columns['letra'].str.lower()
    columns['lowered'] = lowered
    tokened = columns.apply(lambda row: nltk.word_tokenize(row['lowered']), axis=1)
    columns['tokened'] = tokened

    withoutstop = columns['tokened'].apply(lambda x: [item for item in x if item not in noise])
    without_stop = []
    for a in withoutstop:    
        without_stop.append(", ".join(a))

    columns['without_stop'] = without_stop
    lemmatizer = WordNetLemmatizer()
    lemmatized = columns['without_stop'].apply(lambda x: [lemmatizer.lemmatize(x)])
    lemma = []
    for a in lemmatized:    
        lemma.append(", ".join(a))
    columns['lemmatized'] = lemma
    x_train, x_test, y_train, y_test = train_test_split(columns.lemmatized, columns.cantorNome, train_size = 0.7)
    vectorizer = CountVectorizer(ngram_range=(1, 3))
    vectorized_x_train = vectorizer.fit_transform(x_train)
    clf = MultinomialNB()
    clf.fit(vectorized_x_train, y_train)
    # тестовую выборку просто векторизировали
    vectorized_x_test = vectorizer.transform(x_test)
    clf.predict(vectorized_x_test)
    pred = clf.predict(vectorized_x_test)
    print(classification_report(y_test, pred))

classification_author()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                precision    recall  f1-score   support

   david-bowie       0.79      0.70      0.74       150
paul-mccartney       0.70      0.79      0.75       135

      accuracy                           0.74       285
     macro avg       0.75      0.75      0.74       285
  weighted avg       0.75      0.74      0.74       285